p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.grid{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;
}

.profile {
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 15px;
}
.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 4px;
}
.mutual-friends {
  color: rgb(100, 100, 100);
}
.add-friend-button {
  background-color: rgb(28, 119, 248);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 10px;
}

.profile-mutual-friends-container {
  width: 100%;
  height: auto;
  padding: 10px;
  padding-top: 5px;
  vertical-align: middle;
}

.profile-mutual-friends-container > * {
  display: inline-block;
  vertical-align: middle;
}

.mutual-friends-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
